:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --dark-grayish-cyan: hsl(184, 14%, 56%);
  --medium-grayish-cyan: hsl(185, 41%, 84%);
  --light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Space Mono", monospace;
  font-size: 16px;
  background-color: var(--medium-grayish-cyan);
}

.container {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  width: 60%;
  background-color: var(--white);
  border-radius: 16px;
  padding: 30px;
}

.container #left {
  flex: 1.5;
}

.container #left .bill .bill-input {
  text-align: right;
}

.container #right {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--dark-cyan);
  border-radius: 16px;
  padding: 20px;
}

.container #right .row {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 16px;
}

.container #right button {
  background-color: var(--strong-cyan);
  border: none;
  margin: 148px 16px 24px 16px;
  padding: 8px;
  color: var(--dark-cyan);
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 20px;
  border-radius: 5px;
}

.container #right .row span {
  color: var(--dark-grayish-cyan);
  font-size: 14px;
}

.row .amount,
.row .total {
  color: var(--medium-grayish-cyan);
  font-weight: 700;
}

.row h1 {
  color: var(--strong-cyan);
  font-size: 48px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.footer {
  margin-top: auto;
}
